* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
    /* hạ cỡ chữ xuống còn 62.5% */
}

body {
    font-size: 1.6rem;
    /* khôi phục lại cỡ chữ mặc định, lúc này 1 rem=10px => 1.6rem=16px (bd thì 1rem=16px */
    font-family: 'sora', sans-serif;
}

/* =================common: class dung chung ============ */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    /* ta muốn cho khối ở giữa căn giữa trang và khi thu hepj trang web khối đó vẫn cách lề 24px mỗi bên=> dùng hàm calc trừ đi 40px cho 2 bên để khối ở giữa ko chạm lề  */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background-color: #2e80ce;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;

}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* control btn */
.control {
    display: flex;
    column-gap: 18px;
    text-align: center;
}

.control__btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575f66;
    background: #fff;
    cursor: pointer;
    transition: 0.25s;
}

.control__btn:hover {
    background: #2e80ce;
    border-color: #2e80ce;
    color: #fff;
}

/* ==============header ============= */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* ta se xoay ngang thanh navbar = display flex */
.navbar__list {
    display: flex;
}

.header__action--login,
.navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-style: normal;
    font-weight: 300;
    line-height: 3.75;
}

/* tao hieu ứng hover cho menu : */
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    /* khi ta muốn hover vào chữ mà nó đạm lên. VD tăng font weight=> khi to lên nó dãn nở và các chữ xq bị giật . mẹo là ta dùng text shadow để tạo bóng đổ chữ mà ko làm thay đổi kích thước chữ */
    color: #fff;

}

/* them dau cham . trc chu "home" */
.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    top: -3;
    position: relative;
    right: 8px;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

.header__action--login {
    margin-right: 7px;
}

/* ===========================hero========================== */
.hero {
    display: flex;
    padding-top: 76px;
    align-items: center;

}

.hero__content {
    width: 44%;

}

.hero__media {
    flex: 1;
    /* để 2 bức ảnh trong phần hero chiếm hết khoảng ko gian còn lại của khối hero media */
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67;
    /*166.667%*/
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;

}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
    /* để bức ảnh dãn ra vừa hết khung chứa và ko bị méo */
}

.hero__img--large {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
}

/*=============================== main: our service ============================*/
.service {
    padding: 170px 0;
    background-color: #fff;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 18px auto 0;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    padding: 21px;
    width: 470px;
    border-radius: 10px;
    background-color: #fff;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: #2e80ce;
    transition: 0.25s;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #eff6fd;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* ta để thuộc tính này để ko cho phép icon co lại => nó ko bị méo nữa */
    margin-right: 19px;
    transition: 0.25s;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;

}

.service-item__desc {
    margin-top: 8px;
    color: #575f65;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;

}

.section__btn {
    margin-top: 55px;
}

/* ================== work ============================ */
.work {
    padding: 100px 0;
    background-color: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
    /* khi ta hover nó sẽ dịch lên bên trên theo trục dọc 16px (truyền vào gtri âm là lên trên , tranform theo Y tức là theo chiều dọc) */
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.75;

}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.work-item__more {
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.75;
}

/* ==================== about ========================= */
.about {
    padding: 85px 0 206px;
    margin-top: 85px;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__media {
    width: 49%;
}

.about-content {
    width: 40%;
}

.about__img {
    position: relative;
}

.about__img--big {
    display: flex;
    object-fit: cover;
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
    object-fit: cover;
    position: absolute;
    top: 121px;
    left: 238px;
    width: 323px;
    height: 370px;
    border-radius: 6px;
}

.about-content__btn {
    margin-top: 38px;
}

/* ================ team =================== */
.team {
    padding: 85px 0;
}

.team-header {
    text-align: center;
    margin: 0 auto;
}

.team__cta {
    margin-top: 38px;
}

.team__list {
    display: grid;
    margin-top: 70px;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.team-item__thumb {
    height: 290px;
    min-width: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.team-item__img--bg {
    color: #eaf6ff;
    border-radius: 6px;
    padding-top: 28px;
    overflow: hidden;
}

.team-item:hover .team-item__thumb {
    transform: scale(1.1);
    /* khi ta di chuột vào các khối team thì các bức ảnh (là class con trong đó) sẽ dc phóng to lên 1.1 lần(sd hàm scale) */
}

.team-item__name {
    color: #10375C;
    text-align: center;
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.team-item__desc {
    color: #10375C;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;

}

.team__control {
    display: flex;
    justify-content: center;
}

.control__btn--team5 {
    rotate: 180deg;
}